@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ProductSans-Regular.ttf') format('truetype'),
    url('../fonts/ProductSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ProductSans-Bold.ttf') format('truetype'), url('../fonts/ProductSans-Bold.ttf') format('truetype');
}

html,
body {
  font-family: 'Product Sans', sans-serif;
}
